@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

https://www.louisville-aquarium.com/aquarium-louisville-kentucky.html
<p>Use this area to provide additional information.</p>
